body {
    background: gray;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 3px solid violet;
    border-radius: 50%;
}


#title, .subtitle, .post_title{
    color:mediumvioletred
}


#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: mediumvioletred;
}

.post_title {
    font-size: 25px;
    font-style: italic;
    margin:0;
    margin-bottom: 15px;
    
}

.post {
    background: pink;
    padding: 15px;
    border: 8px solid violet;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post_content{
    margin: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align:justify;
}

.post_image {
    margin-bottom: 20px;
    width: 100%; 
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}